<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>DayspringHut</h1>
    <p>DayspringHut is an open source social networking app written using <%= fa_icon 'diamond' %> Ruby on Rails Inspired by Facebook and socify. I always wanted to create a internal social media for dayspring like other MNC like infosys and wipro. So, Here it is!! </a>.</p>
    <hr>
  </div>
</div>
